@import "color_vars";

:root {
	--mdc-theme-surface-transparent: #{$mdc-theme-surface-transparent};
	--twi-hair-highlight-pink: #{$twi-hair-highlight-pink};
	--twi-hair-highlight-purple: #{$twi-hair-highlight-purple};
}