@import "@material/top-app-bar/mdc-top-app-bar";
@import "mdc-drawer";
@import "mixins";

$top-app-bar-padding: $mdc-top-app-bar-row-height / 4 !default;

 :root {
 	--mlp-body-item-padding: #{0 $top-app-bar-padding};
 }

main { padding: #{$mdc-top-app-bar-row-height + $top-app-bar-padding $top-app-bar-padding 0}; }

.mdc-top-app-bar {
	@include mdc-top-app-bar-ink-color($mdc-theme-on-primary);
	z-index: 999;

	&__action-item, &__navigation-icon { will-change: inherit; }
	&__title {
		@include mlp-disable-user-select;

		a {
			color: inherit;
			text-decoration: inherit;
			
			&:before { content: var(--title-prefix-text); }
		}
	}
}