@import "@material/drawer/mdc-drawer";
@import "mdc-list";
@import "mdc-top-app-bar";
@import "common";

.mdc-drawer {
	.mdc-list-item__text { @extend %disable-user-select; }
	&__drawer {
		padding-bottom: $mdc-top-app-bar-row-height;
	}
	&--temporary.mdc-drawer--open::before {
		-webkit-backdrop-filter: blur(2px);
		backdrop-filter: blur(2px);
		background-color: $mdc-theme-secondary;
		opacity: 0.6;
	}
}