@charset "utf-8";
@import "colors";
@import "@material/elevation/mdc-elevation";

$card-item-elevation: 4;
$mdc-theme-on-secondary: #000 !default;
$mdc-theme-secondary: adjust-color($twi-eye-gradient-mid, $alpha: -0.6) !default;
$media-controls-active-cursor: pointer;

@mixin audio-media-controls($prefix) {
	audio::#{$prefix}media-controls-download-button, audio::#{$prefix}media-controls-mute-button, audio::#{$prefix}media-controls-play-button, audio::#{$prefix}media-controls-timeline, audio::#{$prefix}media-controls-volume-slider {
		cursor: $media-controls-active-cursor;
	}
}

@mixin audio-media-controls-panel($prefix) {
	audio::#{$prefix}media-controls-panel {
		background: $mdc-theme-on-secondary;
		// border: 1px solid;
		// border-color: $twi-hair-primary;
		// border-radius: 5px;
	}
}

// audio::-webkit-media-controls-play-button.pause {
// 	-webkit-appearance: none;
// 	appearance: none;
// 	background-image: -webkit-image-set(url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNOCA1djE0bDExLTd6IiBmaWxsPSIjYzlhYWQwIi8+PC9zdmc+") 1x);
// 	fill: $mdc-theme-on-secondary;
// }

// audio::-webkit-media-controls-play-button {
// 	-webkit-appearance: none;
// 	appearance: none;
// 	background-image: -webkit-image-set(url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNiAxOWg0VjVINnYxNHptOC0xNHYxNGg0VjVoLTR6IiBmaWxsPSIjYzlhYWQwIi8+PC9zdmc+") 1x);
// 	fill: $mdc-theme-on-secondary;
// }
audio {
	display: block;
	padding-top: 0.4rem;
	width: 100%;

	&::-webkit-media-controls { @include mdc-elevation($card-item-elevation - 1); }
	&::-moz-media-controls { @include mdc-elevation($card-item-elevation - 1); }
	&::media-controls { @include mdc-elevation($card-item-elevation - 1); }
	&::-internal-media-controls-download-button { cursor: $media-controls-active-cursor; }
}
input[pseudo="-webkit-media-controls-timeline" i]::-internal-track-segment-highlight-after { background-color: $mdc-theme-secondary; }
/* trying to combine these selectors (mixing -webkit with -moz) will cause webkit to ignore them */
@include audio-media-controls-panel("-webkit-");
@include audio-media-controls-panel("-moz-");
@include audio-media-controls-panel("");
@include audio-media-controls("-moz-");
@include audio-media-controls("-webkit-");
@include audio-media-controls("");