@charset "utf-8";
@import "color_vars";




/*
@import "@material/elevation/mdc-elevation";

$card-item-elevation: 4;
$mdc-theme-on-secondary: #000 !default;
$mdc-theme-secondary: adjust-color($twi-eye-gradient-mid, $alpha: -0.6) !default;
$media-controls-active-cursor: pointer;

@mixin audio-media-controls($prefix) {
	audio::#{$prefix}media-controls-download-button, audio::#{$prefix}media-controls-mute-button, audio::#{$prefix}media-controls-play-button, audio::#{$prefix}media-controls-timeline, audio::#{$prefix}media-controls-volume-slider {
		cursor: $media-controls-active-cursor;
	}
}

@mixin audio-media-controls-panel($prefix) {
	audio::#{$prefix}media-controls-enclosure { border-radius: 0; }
	audio::#{$prefix}media-controls-panel { background: $mdc-theme-on-secondary; }
}
audio {
	display: block;
	width: 100%;

	&::-webkit-media-controls { @include mdc-elevation($card-item-elevation - 1); }
	&::-moz-media-controls { @include mdc-elevation($card-item-elevation - 1); }
	&::media-controls { @include mdc-elevation($card-item-elevation - 1); }
	&::-internal-media-controls-download-button { cursor: $media-controls-active-cursor; }
}
input[pseudo="-webkit-media-controls-timeline" i]::-internal-track-segment-highlight-after { background-color: $mdc-theme-secondary; }
input[pseudo="-moz-media-controls-timeline" i]::-internal-track-segment-highlight-after { background-color: $mdc-theme-secondary; }
input[pseudo="media-controls-timeline" i]::-internal-track-segment-highlight-after { background-color: $mdc-theme-secondary; }
// trying to combine these selectors (mixing -webkit with -moz) will cause webkit to ignore them
@include audio-media-controls-panel("-webkit-");
@include audio-media-controls-panel("-moz-");
@include audio-media-controls-panel("");
@include audio-media-controls("-moz-");
@include audio-media-controls("-webkit-");
@include audio-media-controls("");
*/