@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800|Roboto:900,900i");

// define best pony's colors, for use later
/* colors from https://kefkafloyd.deviantart.com/art/Twilight-Sparkle-Color-Guide-2-0-UPDATED-199520929 */
$twi-body-fill: #d19fe3;
$twi-body-fill-shadow: #b689c8; // very slightly darker, almost unnoticeable
$twi-body-stroke: #a76bc2;
$twi-eye-gradient-dark: #22093f; // black purple
$twi-eye-gradient-light: #672f8b;
$twi-eye-gradient-mid: #532976;
$twi-eye-highlight-dark: #9561a8;
$twi-eye-highlight-light: #c9aad0;
$twi-hair-highlight-pink: #ed438a; // same color as cutie mark
$twi-hair-highlight-purple: #662d8a;
$twi-hair-primary: #263773;
$twi-hair-stroke: #131f46; // black blue
$twi-mouth: #a8005b; // almost red
$twi-teeth-stroke: #b9e0f7; // light blue
$twi-tongue: #f47735; // orange

// define styling variables
$bg-primary-color: $twi-body-fill;
$bg-secondary-color: $twi-body-stroke;
$fg-color: $twi-hair-primary;

// define variables based on previously defined variables
$fg-color-invert: invert($fg-color);

// classes for to be @extend 
%content-font {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}
%heading-font {
	font-family: Roboto, sans-serif;
	font-weight: 900;
}

/* CSS variables (used in inline style) */
:root {
	--bg-primary-color: #{$bg-primary-color};
	--bg-secondary-color: #{$bg-secondary-color};
	--fg-color: #{$fg-color};
	--fg-color-invert: #{$fg-color-invert};
	--twi-hair-highlight-pink: #{$twi-hair-highlight-pink};
}
html {
	@extend %content-font;
	color: $fg-color;
	background-attachment: fixed;
	background-color: $bg-primary-color;
	background-image: linear-gradient(135deg, $bg-primary-color 50%, $bg-secondary-color);
	background-size: 100vw 100vh;
	margin: 0;
	max-height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
	padding: 0;
	text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5, h6 { @extend %heading-font; }
h1, h2 { text-shadow: 5px 3px 1ex $fg-color; }
h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.3rem; }

*[aria-hidden="true"] {
	max-height: 0;
	visibility: hidden;
}

.bold { font-weight: 800; }
.warning {
	@extend .bold;
	color: red;
}

@media (max-width: 500px) {
	h1 { font-size: 2rem; }
	h2 { font-size: 1.5rem; }
	h3 { font-size: 1rem; }
}