@charset "utf-8";

@import "colors";

main { margin: 0 1em; }

*[aria-hidden="true"] {
	max-height: 0;
	visibility: hidden;
}

.bold { font-weight: 500; }
.button {
	background: $mdc-theme-on-primary;
	border: 1px ridge black;
	border-radius: 5px;
	color: inherit;
	display: block;
	font: inherit;
	font-size: inherit;
	padding: 5px 10px;
	position: relative;
	-webkit-touch-callout: none;
	transition: all 0.5s;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.button:before {
	background: #000;
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.5s;
}
.button:active, .button:hover { color: $fg-color-invert; }
.button:hover:before { opacity: 0.2; }
.button:active:before { opacity: 0.6; }
.warning {
	@extend .bold;
	color: red;
}