@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

@import "color_vars";
@import "mixins";
@import "@material/button/mdc-button";
@import "@material/menu/mdc-menu";
@import "@material/snackbar/mdc-snackbar";

$main-width: 50%;
$media-width-phone: 768px;
$media-width-tablet: 1024px;

body {
	color: $mdc-theme-primary;
	margin: 0;
}
footer nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
html::selection { background: $mdc-theme-secondary; }
html::-moz-selection { background: $mdc-theme-secondary; }
main > article > section { margin-top: 0.5rem; }
pre[data-is-topic-list] { line-height: 36px; }
*[aria-hidden=true] { visibility: hidden; }

.mdc-button {
	@include mlp-disable-user-select;

	&--raised &__icon { margin: auto; }
	&:disabled .mdc-button__icon { fill-opacity: 0.37; }
}
.mdc-card { max-width: 50rem; }
.mdc-menu {
	.mdc-list { @extend .mdc-list; }
}
.mdc-snackbar {
	background-color: $mdc-theme-primary;

	.mdc-snackbar__text { color: $mdc-theme-on-primary; }
}
.mlp-audio-timestamp {
	cursor: pointer;
	text-decoration: underline dotted $mdc-theme-secondary;
}

// this is also in common.scss now; need to fix
#mlp-img-bg {
	bottom: 0;
	filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.55));
	position: fixed;
	right: 0;
	z-index: -999;
}

@media (max-width: 400px) {
	pre[data-is-topic-list], #mlp-btn-share, #mlp-btn-more-formats { display: none; }
}

// the below was used for some fancy media query stuff that i abandoned, keeping it here for refernce in case

// @function -mlp-media-res-query($min-pixel-ratio: false, $max-pixel-ratio: false) {
// 	$pixel-ratio-components:
// 		(min-selector: "-webkit-min-device-pixel-ratio", max-selector: "-webkit-max-device-pixel-ratio", multiplier: 1, unit: ""),
// 		(min-selector: "min-device-pixel-ratio", max-selector: "max-device-pixel-ratio", multiplier: 1, unit: ""),
// 		(min-selector: "min-resolution", max-selector: "max-resolution", multiplier: 96, unit: "dpi"),
// 		(min-selector: "min-resolution", max-selector: "max-resolution", multiplier: 1, unit: "dppx");
// 	$output: "";

// 	@each $pixel-ratio-component in $pixel-ratio-components {
// 		$this-min-pixel-ratio: if($min-pixel-ratio, "(#{map-get($pixel-ratio-component, min-selector)}: #{$min-pixel-ratio * map-get($pixel-ratio-component, multiplier) + 0.1}#{map-get($pixel-ratio-component, unit)})", "");
// 		$this-max-pixel-ratio: if($max-pixel-ratio, "(#{map-get($pixel-ratio-component, max-selector)}: #{$max-pixel-ratio * map-get($pixel-ratio-component, multiplier)}#{map-get($pixel-ratio-component, unit)})", "");
// 		$output: "#{$output}, #{$this-min-pixel-ratio}#{if(str-length($this-min-pixel-ratio) > 0 and str-length($this-max-pixel-ratio) > 0, " and ", "")}#{$this-max-pixel-ratio}";
// 	}
// 	@return str-slice($output, 3);
// }
// @function -mlp-media-width-query($min-width: false, $max-width: false) {
// 	$min-width: if($min-width, "(min-width: #{$min-width + 1})", "");
// 	$max-width: if($max-width, "(max-width: #{$max-width})", "");
// 	@return "#{$min-width}#{if(str-length($min-width) > 0 and str-length($max-width) > 0, " and ", "")}#{$max-width}";
// }

// $media-supported
/*
960 -> 1.5: 1440, 2: 1920, 2.5: 2400, 3: 2880, 3.5: 3360, 4: 3840
1280 -> 1.5: 1920, 2: 2560, 2.5: 3200, 3: 3840
1920 -> 1.5: 2880, 2: 3840
2880 -> 1.5: 4320
3840

960w -> (-, 1x, -, 960)
1280w -> (-, 1x, 960, 1280)
1920w -> (1.5x, 2x, -, 960), (1x, 1.5x, 960, 1280), (-, 1x, 1280, 1920)
2880w -> (2x, 3x, -, 960), (1.5x, 2x, 960, 1280), (1x, 1.5x, 1280, 1920), (-, 1x, 1920, 2880)
3840w -> (3x, -, -, 960), (2.5x, -, 1280), (1.5x, -, 1280, 1920), (1x, -, 1920, 2880), (-, -, 2880, -)
*/

// @mixin background-image-media-queries($image-extension) {
// 	@media screen {
// 		@media #{-mlp-media-width-query($max-width: 960px)} {
// 			background-image: url(/image/mlpodcast_couch/960w.#{$image-extension});
// 			@media #{-mlp-media-res-query(1, 1.3)} { background-image: url(/image/mlpodcast_couch/1280w.#{$image-extension}); }
// 			@media #{-mlp-media-res-query(1.3, 2)} { background-image: url(/image/mlpodcast_couch/1920w.#{$image-extension}); }
// 			@media #{-mlp-media-res-query(2, 3)} { background-image: url(/image/mlpodcast_couch/2880w.#{$image-extension}); }
// 			@media #{-mlp-media-res-query(3)} { background-image: url(/image/mlpodcast_couch/3840w.#{$image-extension}); }
// 		}
// 		@media #{-mlp-media-width-query(960px, 1280px)} {
// 			background-image: url(/image/mlpodcast_couch/1280w.#{$image-extension});
// 			@media #{-mlp-media-res-query(1, 1.5)} { background-image: url(/image/mlpodcast_couch/1920w.#{$image-extension}); }
// 			@media #{-mlp-media-res-query(1.5, 2.25)} { background-image: url(/image/mlpodcast_couch/2880w.#{$image-extension}); }
// 			@media #{-mlp-media-res-query(2.25)} { background-image: url(/image/mlpodcast_couch/3840w.#{$image-extension}); }
// 		}
// 		@media #{-mlp-media-width-query(1280px, 1920px)} {
// 			background-image: url(/image/mlpodcast_couch/1920w.#{$image-extension});
// 			@media #{-mlp-media-res-query(1, 1.5)} { background-image: url(/image/mlpodcast_couch/2880w.#{$image-extension}); }
// 			@media #{-mlp-media-res-query(1.5)} { background-image: url(/image/mlpodcast_couch/3840w.#{$image-extension}); }
// 		}
// 		@media #{-mlp-media-width-query(1920px, 2880px)} {
// 			background-image: url(/image/mlpodcast_couch/2880w.#{$image-extension});
// 			@media #{-mlp-media-res-query(1)} { background-image: url(/image/mlpodcast_couch/3840w.#{$image-extension}); }
// 		}
// 		@media #{-mlp-media-width-query(1920px, 2880px)} { background-image: url(/image/mlpodcast_couch/3840w.#{$image-extension}); }
// 	}
// }