@charset "utf-8";
@import "colors";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

$mdc-theme-background: $twi-body-fill-shadow;
$mdc-theme-surface: $twi-body-fill;
$mdc-theme-primary: $twi-hair-primary;
$mdc-theme-secondary: $twi-hair-highlight-purple;
$mdc-theme-on-surface: $twi-hair-primary;
$mdc-theme-on-primary: $twi-hair-highlight-pink;
$mdc-theme-on-secondary: $twi-eye-highlight-light;
$typography-default-coloring: (color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54)), fill: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54)));
$mdc-typography-styles-body2: $typography-default-coloring;
$mdc-typography-styles-caption: $typography-default-coloring;
$mdc-typography-styles-subtitle2: $typography-default-coloring;

@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
// @import "@material/chips/mdc-chips";
@import "@material/drawer/mdc-drawer";
@import "@material/elevation/mdc-elevation";
// @import "@material/fab/mdc-fab";
@import "@material/list/mdc-list";
@import "@material/menu/mdc-menu";
// @import "@material/slider/mdc-slider";
@import "@material/snackbar/mdc-snackbar";
@import "@material/theme/mdc-theme";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";
@import "audio";

$background-width: 70vw;
$card-item-elevation: 4;
$main-padding: $mdc-top-app-bar-row-height / 4;
$main-width: 50vw;
$media-width-phone: 768px;
$media-width-tablet: 1024px;

// @function -mlp-media-res-query($min-pixel-ratio: false, $max-pixel-ratio: false) {
// 	$pixel-ratio-components: 
// 		(min-selector: "-webkit-min-device-pixel-ratio", max-selector: "-webkit-max-device-pixel-ratio", multiplier: 1, unit: ""),
// 		(min-selector: "min-device-pixel-ratio", max-selector: "max-device-pixel-ratio", multiplier: 1, unit: ""),
// 		(min-selector: "min-resolution", max-selector: "max-resolution", multiplier: 96, unit: "dpi"),
// 		(min-selector: "min-resolution", max-selector: "max-resolution", multiplier: 1, unit: "dppx");
// 	$output: "";

// 	@each $pixel-ratio-component in $pixel-ratio-components {
// 		$this-min-pixel-ratio: if($min-pixel-ratio, "(#{map-get($pixel-ratio-component, min-selector)}: #{$min-pixel-ratio * map-get($pixel-ratio-component, multiplier) + 0.1}#{map-get($pixel-ratio-component, unit)})", "");
// 		$this-max-pixel-ratio: if($max-pixel-ratio, "(#{map-get($pixel-ratio-component, max-selector)}: #{$max-pixel-ratio * map-get($pixel-ratio-component, multiplier)}#{map-get($pixel-ratio-component, unit)})", "");
// 		$output: "#{$output}, #{$this-min-pixel-ratio}#{if(str-length($this-min-pixel-ratio) > 0 and str-length($this-max-pixel-ratio) > 0, " and ", "")}#{$this-max-pixel-ratio}";
// 	}
// 	@return str-slice($output, 3);
// }
// @function -mlp-media-width-query($min-width: false, $max-width: false) {
// 	$min-width: if($min-width, "(min-width: #{$min-width + 1})", "");
// 	$max-width: if($max-width, "(max-width: #{$max-width})", "");
// 	@return "#{$min-width}#{if(str-length($min-width) > 0 and str-length($max-width) > 0, " and ", "")}#{$max-width}";
// }

// $media-supported
/*
960 -> 1.5: 1440, 2: 1920, 2.5: 2400, 3: 2880, 3.5: 3360, 4: 3840
1280 -> 1.5: 1920, 2: 2560, 2.5: 3200, 3: 3840
1920 -> 1.5: 2880, 2: 3840
2880 -> 1.5: 4320
3840

960w -> (-, 1x, -, 960)
1280w -> (-, 1x, 960, 1280)
1920w -> (1.5x, 2x, -, 960), (1x, 1.5x, 960, 1280), (-, 1x, 1280, 1920)
2880w -> (2x, 3x, -, 960), (1.5x, 2x, 960, 1280), (1x, 1.5x, 1280, 1920), (-, 1x, 1920, 2880)
3840w -> (3x, -, -, 960), (2.5x, -, 1280), (1.5x, -, 1280, 1920), (1x, -, 1920, 2880), (-, -, 2880, -)
*/

// @mixin background-image-media-queries($image-extension) {
// 	@media screen {
// 		@media #{-mlp-media-width-query($max-width: 960px)} {
// 			background-image: url(/image/mlpodcast_couch/960w.#{$image-extension});
// 			@media #{-mlp-media-res-query(1, 1.3)} { background-image: url(/image/mlpodcast_couch/1280w.#{$image-extension}); }
// 			@media #{-mlp-media-res-query(1.3, 2)} { background-image: url(/image/mlpodcast_couch/1920w.#{$image-extension}); }
// 			@media #{-mlp-media-res-query(2, 3)} { background-image: url(/image/mlpodcast_couch/2880w.#{$image-extension}); }
// 			@media #{-mlp-media-res-query(3)} { background-image: url(/image/mlpodcast_couch/3840w.#{$image-extension}); }
// 		}
// 		@media #{-mlp-media-width-query(960px, 1280px)} {
// 			background-image: url(/image/mlpodcast_couch/1280w.#{$image-extension});
// 			@media #{-mlp-media-res-query(1, 1.5)} { background-image: url(/image/mlpodcast_couch/1920w.#{$image-extension}); }
// 			@media #{-mlp-media-res-query(1.5, 2.25)} { background-image: url(/image/mlpodcast_couch/2880w.#{$image-extension}); }
// 			@media #{-mlp-media-res-query(2.25)} { background-image: url(/image/mlpodcast_couch/3840w.#{$image-extension}); }
// 		}
// 		@media #{-mlp-media-width-query(1280px, 1920px)} {
// 			background-image: url(/image/mlpodcast_couch/1920w.#{$image-extension});
// 			@media #{-mlp-media-res-query(1, 1.5)} { background-image: url(/image/mlpodcast_couch/2880w.#{$image-extension}); }
// 			@media #{-mlp-media-res-query(1.5)} { background-image: url(/image/mlpodcast_couch/3840w.#{$image-extension}); }
// 		}
// 		@media #{-mlp-media-width-query(1920px, 2880px)} {
// 			background-image: url(/image/mlpodcast_couch/2880w.#{$image-extension});
// 			@media #{-mlp-media-res-query(1)} { background-image: url(/image/mlpodcast_couch/3840w.#{$image-extension}); }
// 		}
// 		@media #{-mlp-media-width-query(1920px, 2880px)} { background-image: url(/image/mlpodcast_couch/3840w.#{$image-extension}); }
// 	}
// }

@mixin disable-user-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

:root {
	--background-position-x: right;
	--main-width: #{$main-width};
	--mdc-theme-text-primary-on-background: #{$mdc-theme-primary};
	--mdc-theme-text-icon-on-background: #{$mdc-theme-primary};
	--mdc-theme-text-secondary-on-background: #{$mdc-theme-secondary};

	@media only screen and (max-width: $media-width-tablet) {
		--background-position-x: center;
		--main-width: 95vw;//calc(95vw - #{2 * $main-padding});
	}
}

%card-item-elevated { @include mdc-elevation($card-item-elevation); }
%full-width { width: var(--main-width); }

// *[aria-hidden=true] { padding: 0 !important; }
body {
	// $height: 100vh;

	// &.webp-support { background-image: url(/image/mlpodcast_couch/1920w.webp); }
	// &.webp-no-support { background-image: url(/image/mlpodcast_couch/1920w.png); }
	// background: {
	// 	attachment: fixed;
	// 	position: { x: var(--background-position-x); y: bottom; }
	// 	repeat: no-repeat;
	// 	size: 70vw;
	// }
	margin: 0;
	// min-height: $height;

	// &:before {
	// 	background: inherit;
	// 	content: "";
	// 	filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.55));
	// 	height: $height;
	// 	position: absolute;
	// 	width: 100vw;
	// 	z-index: -1;
	// }
	// &.mdc-drawer-scroll-lock { position: fixed; }
}
footer nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
header.mdc-top-app-bar {
	@include mdc-top-app-bar-ink-color($mdc-theme-on-primary);
	z-index: 999;

	.mdc-top-app-bar {
		&__action-item, &__navigation-icon { will-change: inherit; }
		&__title a {
			color: inherit;
			text-decoration: inherit;
			
			&:before { content: var(--title-prefix-text); }
		}
	}
}
html { background-color: $mdc-theme-background; }
main {
	@extend %full-width;
	padding: $mdc-top-app-bar-row-height + $main-padding $main-padding $main-padding;

	article.mdc-card {
		@extend %full-width;
		opacity: 0.97;
		padding: 0.4rem;

		&:before {
			backdrop-filter: blur(10px);
			filter: blur(20px);
		}
		audio {
			padding-top: 0.4rem;
			width: 100%;

			&::-webkit-media-controls { @include mdc-elevation($card-item-elevation - 1); }
			&::-moz-media-controls { @include mdc-elevation($card-item-elevation - 1); }
			&::media-controls { @include mdc-elevation($card-item-elevation - 1); }
		}
		header {
			padding: 1rem;

			aside.mdc-typography--caption { font-size: 0.66rem; }
			h1 { margin: 0; }
		}
		section.mdc-typography--body2 {
			color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
			padding: 0 1rem 8px 1rem;
		}
	}
}

.mdc-button {
	@include mdc-button-icon-color($mdc-theme-on-primary);
	@include disable-user-select;

	&--raised &__icon { margin: auto; }
}
.mdc-card {
	$color-value: var(--mdc-theme-text-icon-on-background, rgba(0, 0, 0, 0.38));

	&__action-buttons { flex-grow: 1; }
	&__action-buttons+.mdc-card__action-icons { margin-left: 0; }
	&__action-icons {
		@include mdc-button-icon-color($mdc-theme-on-surface);
		.mdc-button {
			min-width: 40px;
			padding: 0;
		}
		.mdc-button__icon { margin: auto; }
		.mdc-card__action--icon { padding: 0; }
	}
	h1 { color: $mdc-theme-primary; }
}
.mdc-drawer {
	&__drawer {
		padding-bottom: $mdc-top-app-bar-row-height;
	}
	&--temporary.mdc-drawer--open::before {
		-webkit-backdrop-filter: blur(2px);
		backdrop-filter: blur(2px);
		background-color: $mdc-theme-secondary;
		opacity: 0.6;
	}
}
.mdc-list {
	padding: 0;

	&-group__subheader {
		margin: 0;

		a { width: 100%; }
		.mdc-list-item { font-size: 1.5rem; }
	}
	&-item a {
		color: inherit;
		text-decoration: none;
		width: 100%;
	}
}
.mdc-menu {
	.mdc-list { @extend .mdc-list; }
}
.mdc-snackbar {
	background-color: $mdc-theme-primary;

	.mdc-snackbar__text { color: $mdc-theme-on-primary; }
}

#mlp-img-bg {
	bottom: 0;
	filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.55));
	position: absolute;
	right: 0;
	z-index: -999;
}