*.br
*.gz
*.map
.sass-cache/
api/composer.lock
api/composer.phar
api/vendor
css/
fontawesome*
github
gmon.out
js/*.js
manager/client_secrets.json
manager/secrets.php
material-components-web
material-design-icons
next_podcast_date.txt
node_modules/
!js/mdc.js
!js/polyfills.js