@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800|Roboto:900,900i");
:root {
	--bg-primary-color: #c79dd7;
	--bg-secondary-color: #673888;
	--fg-color: #363b74;
}
html {
	color: var(--fg-color);
	background-attachment: fixed;
	background-color: var(--bg-primary-color);
	background-image: linear-gradient(135deg, var(--bg-primary-color) 70%, var(--bg-secondary-color));
	background-size: 100vw 100vh;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	margin: 0;
	max-height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
	padding: 0;
	text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Roboto, sans-serif;
	font-weight: 900;
}
h1, h2 { text-shadow: 5px 3px 1ex var(--fg-color); }
h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.3rem; }
/*div[role="grid"] {
	border: thin solid;
	border-collapse: collapse;
	display: table;
}
div[role="grid"] > div.colgroup { display: table-column-group; }
div[role="grid"] > div.colgroup > div.col { display: table-column; }
div[role="grid"] > div.colgroup > div.col.podcast-description { width: 40vw; }
div[role="grid"] > div[role="rowgroup"]:nth-child(2) {
	display: table-header-group;
	font-weight: bold;
}
div[role="grid"] > div[role="rowgroup"]:not(:nth-child(-n+2)) { display: table-row-group; }
div[role="grid"] > div[role="rowgroup"] > div[role="rowheader"], div[role="grid"] > div[role="rowgroup"] > div[role="row"] { display: table-row; }
div[role="grid"] > div[role="rowgroup"] > div[role="rowheader"] > div[role="columnheader"], 
div[role="grid"] > div[role="rowgroup"] > div[role="row"] > div[role="gridcell"] {
	border: thin solid;
	display: table-cell;
	padding: 1px 1em;
	vertical-align: middle;
}
div[role="grid"] > div[role="rowgroup"] > div[role="row"] > div[role="gridcell"] > a > data {
	font-style: italic;
	font-weight: bold;
}*/

*[aria-hidden="true"] {
	max-height: 0;
	visibility: hidden;
}

.warning {
	color: red;
	font-weight: 800;
	text-align: center;
}